@import "tailwindcss";
/* Label */
.form-label {
  @apply block text-sm font-medium text-gray-700 mb-1;
}

/* Clean Input */
.form-input {
  @apply w-full px-4 py-2 rounded-lg border border-gray-300 
  bg-white text-gray-900 focus:ring-2 focus:ring-indigo-500 
  focus:border-indigo-500 outline-none transition shadow-sm;
}